<input type="text" name="username" id="username" /><input type="button" id="start" value="Start">

<p><textarea id="pastie"></textarea>
<br><select name="users" id="users">
</select>
<br><input type="button" id="send" value="send">

<div id="dialog" title="Basic dialog">
    <div id="message"></div>
    <textarea id="pastie_content"></textarea>
    <br><input type="button" id="copy" value="copy">
</div>

